.block.block-approaches
    h3 Specific approaches and responsibilities
    p Functional, non-functional, and structural test types are applicable.
    p Component integration testing is often the responsibility of developers. System integration testing is generally the responsibility of testers.
    p Integration should normally be incremental (i.e., a small number of additional components or systems at a time)
    p The greater the scope of integration, the more difficult it becomes to isolate defects to a specific component or system, which may lead to increased risk and additional time for troubleshooting. This is one reason that continuous integration, where software is integrated on a component-by-component basis (i.e., functional integration), has become common practice. 