- 
    var slides = [
        {"li": "Reducing risk"},
        {"li": "Verifying whether the functional and non-functional behaviors of the component are as designed and specified"},
        {"li": "Building confidence in the component’s quality"},
        {"li": "Finding defects in the component"},
        {"li": "Preventing defects from escaping to higher test levels"}];

.block.block-objectives
    h3 Objectives of component testing
    ul
    each slide in slides
        li= slide.li
        