- 
    var slides = [
        {"li": ""},
        {"li": ""},
        {"li": ""},
        {"li": ""},
        {"li": ""}];

.block.block-approaches
    h3 Specific approaches and responsibilities
    p Component testing is usually performed by the developer who wrote the code, but it at least requires access to the code being tested.
    p TDD or Test driven development is highly iterative and is based on cycles of developing automated test cases, then building and integrating small pieces of code, then executing the component tests, correcting any issues, and re-factoring the code. 
        