- 
    var slides = [
        {"li": "Business processes"},
        {"li": "User or business requirements"},
        {"li": "Regulations, legal contracts and standards"},
        {"li": "Use cases"},
        {"li": "System requirements"},
        {"li": "System or user documentation"},
        {"li": "Installation procedures"},
        {"li": "Risk analysis reports"},
        {"li": "Backup and restore procedures"},
        {"li": "Disaster recovery procedures"},
        {"li": "Non-functional requirements"},
        {"li": "Operations documentation"},
        {"li": "Deployment and installation instructions"},
        {"li": "Performance targets"},
        {"li": "Database packages"},
        {"li": "Security standards or regulations"},
        {"li": "Backup and restore procedures"},
        {"li": "Disaster recovery procedures"},
        {"li": "Non-functional requirements"},
        {"li": "Operations documentation"},
        {"li": "Deployment and installation instructions"},
        {"li": "Performance targets"},
        {"li": "Database packages"},
        {"li": "Security standards or regulations"}];

.block.block-basis
    h3 Test basis/Examples of work products
    ul
    each slide in slides
        li= slide.li