- 
    var slides = [
        {"li": "Establishing confidence in the quality of the system as a whole"},
        {"li": "Verifying that functional and non-functional behaviors of the system are as specified"},
        {"li": "Validating that the system is complete and will work as expected"}];

.block.block-objectives
    h3 Objectives
    ul
    each slide in slides
        li= slide.li
        