- 
    var slides = [
        {"li": ""},
        {"li": ""},
        {"li": ""},
        {"li": ""},
        {"li": ""}];

.block.block-approaches
    h3 Specific approaches and responsibilities
    p Acceptance testing is often the responsibility of the customers, business users, product owners, or operators of a system, and other stakeholders may be involved as well.
    p Acceptance testing of a COTS software product may occur when it is installed or integrated
    p Acceptance testing of a new functional enhancement may occur before system testing

    //- ul
    //- each slide in slides
    //-     li= slide.li
        