- 
    var slides = [
        {"li": "Reducing risk"},
        {"li": "Verifying whether the functional and non-functional behaviors of the system are as designed and specified"},
        {"li": "Validating that the system is complete and will work as expected"},
        {"li": "Building confidence in the quality of the system as a whole"},
        {"li": "Finding defects"},
        {"li": "Preventing defects from escaping to higher test levels"}];

.block.block-objectives
    h3 Objectives
    ul
    each slide in slides
        li= slide.li
        