- 
    var slides = [
        {"li": ""},
        {"li": ""},
        {"li": ""},
        {"li": ""},
        {"li": ""}];

.block.block-approaches
    h3 Specific approaches and responsibilities
    //- ul
    //- each slide in slides
    //-     li= slide.li
    p System testing should focus on the overall, end-to-end behavior of the system as a whole, both functional and non-functional.
    p A decision table may be created to verify whether functional behavior is as described in business rules.
    p Independent testers typically carry out system testing.